<?php

return([
    'PLUGIN_NAME' => [
        'repository' => '', // mandatory
        'path' => '', // mandatory ; path from the moodle root
        'plugin' => '', // optional ; as declared in the plugin 'version.php' file
        'branch' => '', // optional
        'hash' => '', // optional ; precise git hash, if it's convenient
    ],
// Example plugin:
    'local/mailtest' => [
        'repository' => 'https://github.com/michael-milette/moodle-local_mailtest', // mandatory
        'path' => '/local/mailtest', // mandatory ; path from the moodle root
        'plugin' => 'local_mailtest', // optional ; as declared in the plugin 'version.php' file
        'branch' => '', // optional
        'hash' => '', // optional ; precise git hash, if it's convenient
    ],
        ]);
