<?php
return([
    'settings' => [
        'verbosity' => 1,  // 0 or 1
        'log' => false,    // FALSE, TRUE or an absolute path for the logfile
    ],
    'plugins' => [
        'PLUGIN/NAME' => [  // a label or identifier for the plugin
            'path' => '', // mandatory ; path from the moodle root
            'gitrepository' => '', // mandatory
            'gitbranch' => '', // optional ; git branch (incompatible with gitrevision)
            'gitrevision' => '', // optional ; precise git revision (hash or tag)  (incompatible with gitbranch)
        ],
    // Example plugin:
        'local/mailtest' => [ // a label or identifier for the plugin
            'path' => '/local/mailtest', // mandatory ; path from the moodle root
            'gitrepository' => 'https://github.com/michael-milette/moodle-local_mailtest', // mandatory
            'gitbranch' => '', // optional ; git branch (incompatible with gitrevision)
            'gitrevision' => '', // optional ; precise git revision (hash or tag)  (incompatible with gitbranch)
        ],
    ],
]);
